﻿/*Edit Button*/
/*.modifyButton {
  	display: inline-block;
  	border-radius: 4px;
  	background-color: #FFAD47;
  	border: none;
  	color: #FFFFFF;
  	text-align: center;
  	font-size: 28px;
 	  padding: 20px;
  	width: 200px;
 	  position: absolute;
  	right: 10px;
  	top: 10px;
  	transition: all 0.5s;
  	cursor: pointer;
  	margin: 5px;
}

.modifyButton span {
  	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
}


.modifyButton span:after {
  	content: '»';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -20px;
  	transition: 0.5s;
}

.modifyButton:hover span {
  	padding-right: 25px;
}

.modifyButton:hover span:after {
  	opacity: 1;
  	right: 0;
}*/


/*Change password button*/
/*.changePassButton {
    display: inline-block;
    border-radius: 4px;
    background-color: #ED94F3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.changePassButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.changePassButton span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.changePassButton:hover span {
    padding-right: 25px;
}

.changePassButton:hover span:after {
    opacity: 1;
    right: 0;
}*/


/*Save button*/
.saveButton {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}


.buttonlogin {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
    font-family: "Helvetica";
}

/*Log out button*/
/*.logoutButton {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 10px;
    bottom: 10px;
    left: 10px;
    background-color: #FE464F;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 10px;
    width: 220px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.logoutButton:after {
    content: "";
    background: #A5171E;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.logoutButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}*/