 body {
 	background-color: #c7ffb3;
 }

 .clear-float {
  clear: both;
 }

#logo {
	width:300px;
	height:100px;
	margin-left: auto;
	margin-right: auto;
 	display: block;
 	position: relative;
}

.lg {
  text-align: center;
  width:300px;
  height:100px;
}

#story {
	width: 800px;
	font-size:160%;
	margin-left: auto;	
	margin-right: auto;
  margin-bottom: 40px;
	border-style:solid;
	border-color:green;
	box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	padding:5px 5px 2px 20px;
 	position: relative;
 	background-color:white;
}
.phobias {
  width: 600px;
  font-size:160%;
  margin-left: auto;  
  margin-right: auto;
  border-style:solid;
  border-color:green;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
  padding:5px 5px 2px 20px;
  position: relative;
  /*top:-162px;*/
  background-color:white;
}
#next_phobia {
  width: 600px;
  font-size:160%;
  margin-left: auto;  
  margin-right: auto;
  border-style:solid;
  border-color:green;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
  padding:5px 5px 2px 20px;
  position: relative;
  background-color:white;
}
#add_phobia {
  width: 600px;
  margin-left: auto;  
  margin-right: auto;
  border-style:solid;
  border-color:green;
  box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
  padding:5px 5px 2px 20px;
  position: relative;
  background-color:white;
  }
  .edit-phobia,
  .add-phobias {
    width: 400px;
  }
.add_button{
  position:relative;
}
.add_button img
{
width: 30px;
height: 30px;
}
.visibility_on img
{
width: 50px;
height: 40px;
}
.visibility_off img
{
width: 35px;
height: 40px;
}
.line_story {
	border: none;
	height: 3px;
	color: green;
	background: green;
}

.line_userprofile {
	border: none;
	height: 1px;
	background: green;
}

.user {
	font-size: 32px;
	color:green;
}
.username_style{
  font-size: 32px;
  color:green;
}

.time {
	font-size: 22px;
	color:gray;
}

.fobie {
	font-size: 32px;
	color:blue;
}
#insert-text-box {
    font-weight: bold;
    font-size: 18px; 
    height: 2em;
    width: 400px;
}

#alergii_curente {
	width:100px;
	height:100px;
}

#fobii_viitaore {
	width:100px;
	height:100px;
}

.menu_simple ul {
    margin: 0; 
    padding: 0;
    width:185px;
    list-style-type: none;
    display: block;
    margin: 0 auto;
}

.menu_simple ul li a {
    text-decoration: none;
    font-size: 120%;
    color: white; 
    padding: 10.5px 11px;
    background-color: #005555;
    display:block;
}
 
.menu_simple ul li a:visited {
    color: white;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background-color: #5FD367;
}
 
.menu_simple ul li a:hover, .menu_simple ul li .current {
    color: white;
    background-color: #5FD367;
  }

.content {
  width: 73%;
  display: block;
  float: left;
}

#register_simple
{
  font-size: 220%;
   padding: 15.5px 11px;

}
.username {
	font-size: 160%;
	color:blue;
}

.container {
    clear: both;
}

.lg img {

  width:auto;
	height:200px;

}
.menu_simple {
  	position: relative;
    width: 27%;
    float: left;
}

footer {
    height: 40px;
    width: 100%;
    background: black;
    position: relative;
    text-align: center;
}



form { 
	margin: 0 auto; 
	width:250px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginForm {
  width: 100%;
  padding-right: 15px;
  box-sizing: border-box;
}

.loginForm #login,
.loginForm #register {
  width: 45%;
  box-sizing: border-box;
}

.loginForm #login {
  margin-right: 3.5%;
}

.loginForm #register {
  margin-left: 3.5%;
}

.loginForm #forgot {
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}

@media all and (max-width: 1300px) {
  .menu_simple,
  .content {
    width: 100%;
    float: none;
  }
}

@media all and (max-width: 1000px) {
  #loginWrapper {
    width: 50%;
  }
}

@media all and (max-width: 940px) {
  #profile {
    width: 100%;
    box-sizing: border-box;  
  }
}

@media all and (max-width: 640px) {
  .modifyButton,
  .changePassButton,
  .logoutButton {
    display: block !important;
    width: 100% !important;
    margin-bottom: 5px;
    margin-right: 0%;
  }
}