#profile {
	width: 800px;
	font-size:160%;
	margin-left: auto;
	margin-right: auto;
	border-style:solid;
	border-color:green;
	padding:5px 5px 5px 20px;
 	position: relative;
 	background-color:white;
 	box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}

#loginWrapper {
    width: 25%;
    font-size:160%;
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-color:green;
    padding:5px 5px 5px 20px;
    position: relative;
    background-color:white;
    box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
}

form { 
	margin: 0 auto; 
	width:250px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.editSection {
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    padding: 5;
}

#profile > a {
    display: inline-block;
    width: 31%;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.modifyButton {
    background-color: #FFAD47;
    margin-right: 1.5%;
}

.changePassButton {
    background-color: #ED94F3;
    margin-right: 1.5%;
}

.logoutButton {
    background-color: #FE464F;
}